:root {
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --code-font: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --color-bg: #eeeeee;
    --color-fg: #ffffff;
    --color-primary: 68, 141, 221;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin-top: 0;
}

body {
    font-family: var(--font);
    padding: 0.5em;
    background: var(--color-bg);
}

main {
    max-width: 75rem;
    margin: auto;
}

.examples {
    display: block;
    margin-bottom: 2em;
}

code-demo {
    margin-bottom: 2em;
}

img-popout img {
    width: 100%;
}

.page-header {
    text-align: center;
    margin-bottom: 2em;
}

.page-footer {
    text-align: center;
    font-size: 0.85em;
}

button, ::part(button) {
    font-family: var(--font);
    font-size: 0.75em;
    border-radius: 0.25em;
    border: none;
    padding: 0.625em 1.125em;
    color: var(--color-fg);
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background: rgb(var(--color-primary));
}

button:hover, ::part(button):hover {
    box-shadow: 0 0.25em 0.25em -0.125em rgba(0, 0, 0, 0.25), 0 0 0 3em rgba(0, 0, 0, 0.2) inset;
}

button:active, ::part(button):active, button.activated {
    box-shadow: 0 0 0 3em rgba(0, 0, 0, 0.3) inset;
}

button.activated {
    pointer-events: none;
    opacity: 0.5;
}
